body {
  margin: 0;
}
.CTemp-Header {
  position: relative;
  height: 180px;
  background-color: rgb(28, 35, 41);
}




.Btn02 {
  width: 120px;
  background: red;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.Btn02:hover {
  background: #e60000;
  border-radius: 6px;
  font-weight: bolder;
}


      /* ------ */
      /* Course */
      /* ------ */
.CourseTemplate {
  min-height: 800px;
}
.CourseTemp-HeadBg {
  background-color: rgb(41, 48, 59);
  height: 320px;
}

.TemplateWrap {
  width: 1200px;
  margin: 0 auto;
}

.CourseHeader {
  position: relative;
  height: 320px;
  }
  .CourseHeader h1 {
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 10px;
  }
  .CourseHeader p {
    color: white;
    margin-bottom: -15px;
  }
  .CourseHeader-in {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
  }


.CourseTemp-Left {
  position: relative;
  float: left;
  width: 63%;
}





.LearnCard {
  background: rgb(249, 249, 249);
  border: 1px solid lightgrey;
  width: 90%;
  position: relative;
  height: auto;
  padding: 0px 20px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
  .ToLearn {
    margin-bottom: 20px;
    margin-left: -30px;
  }
  .ToLearn-Item {
    width: 45%;
    height: auto;
    float: left;
    padding: 10px;
    color: grey;
  }




/* Requirements */
.Reqs {
  margin-bottom: 40px;
}
.Reqs li {
  list-style-type: disc;
  color: black;
}

/* Description */
.Desc li {
    list-style-type: disc;
    color: black;
}
.Desc p {
  color: black;
}
.Desc h2 {
  margin-bottom: -5px;
}
.Desc h3 {
  margin-bottom: -5px;
  color: darkslategrey;
}





















.CourseTemp-Right {
  position: relative;
  float: right;
  right: 60px;
  top: 50px;
  background: white;
  text-align: center;
  width: 370px;
  height: 700px;
  border-radius: 10px;

  box-shadow: 7px 10px 29px -10px rgba(0,0,0,0.75);
  -webkit-box-shadow: 7px 10px 29px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 29px -10px rgba(0,0,0,0.75);
}
    .Course-Pic {
      position: relative;
      margin: 0 auto;
      width: 98%;
      top: 4px;
      height: 225px;
      background-image: url("../images/Preview.png");
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
    }
    .Course-Price {
      position: relative;
      margin-top: 20px;
      Width: 98%;
    }
      .Course-Price h1 {
        color: rgb(80, 87, 99);
        text-align: center;
        font-weight: bold;
        font-size: 2.4em;
      }
      .Course-Btns{

      }


      /* Includes */
      .Course-includes p {
        position: relative;
        color: black;
        font-size: 0.9em;
        margin-bottom: -10px;
      }
      .Course-includes ul {
        list-style-type: none;
        text-align: left;
      }

      .Course-includes li {
          font-size: 0.9em;
          color: rgb(80, 87, 99);
          text-indent: -40px;
          text-align: center;
      }

















.FootList {
  padding: 5px;
  height: auto;
  background-color: rgb(28, 35, 41);
  margin-top: 80px;
}
